body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 900;
}

.calculator {
    width: 15rem;
    height: 17rem;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#display {
    width: 92%;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

#operator {
    background-color: #c3daee;
    
}

#operator:hover {
    background-color: #c3dade;
}

#operator1 {
    background-color: bisque;
}

#operat {
    background-color: aqua ;
}
